.controlButton {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgb(199, 248, 156);
    /* font-family: Helvetica, Arial, sans-serif; */
}

.controlButton:hover {
    background-color: greenyellow;
    cursor: default;
}

.controlButton p {
    margin: 0;
    
}