.cell {
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(253, 243, 232);
  border: 1px solid rgb(201, 201, 201);
}

.cell p {
  margin: 0;
}

.cell:hover {
  cursor: default;
}

.mainNumber {
  font-size: 35px;
}

.mainNumberUser {
  color: blue;
}

.mainNumberErorr {
  color: RED;
}

.rb {
  border-right: 2px solid black;
}

.bb {
  border-bottom: 2px solid black;
}

.highlighted {
  background-color: rgb(228, 228, 228);
}

.selectedCell {
  background-color: rgb(144, 221, 244);
}

.notesContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.45;
  color: gray;
}

.selectedNumber {
  color: black;
  font-weight: 700;
}
